.board-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: row;
    padding: 0;
    margin: 0;
    column-gap: 10px;
    border: 2px solid rgb(97, 128, 239);
    background-color: paleturquoise;
    /* padding: 1rem 1rem 4rem; */
    filter: drop-shadow(16px 16px 10px rgb(89, 111, 236));
    border-radius: 7px;
    list-style-type: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
    max-width: 350px;
}

.button-container{
    padding: 1px;
    align-content: center;
}

.edit-fields {
    max-width: 350px;
}

.board-edit-button {
    background: url('/public/edit.png');
    background-size: 1rem 1rem 4rem;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    height: 20px;
    width: 20px;
    padding: 4%;
    margin: 0;
}

.board-delete-button {
    background: url('/public/trash.png');
    background-size: 1rem 1rem 4rem;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    height: 20px;
    width: 20px;
    padding: 4%;
    margin: 0;
}

.show-cards-button {
    background: url('/public/folder-open.png');
    background-size: 1rem 1rem 4rem;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    height: 20px;
    width: 25px;
    padding: 4%;
    margin: 0;
}

.edit-board-button {
    background: url('/public/approvelarge.png');
    background-size: 1rem 1rem 4rem;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    height: 20px;
    width: 20px;
    padding: 4%;
    margin: 0;
}

.add-card-button {
    background: url('/public/square-plus.png');
    background-size: 1rem 1rem 4rem;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    height: 30px;
    width: 30px;
    padding: 4%;
    margin: 2%;
}
