.board-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: row;
    padding: 0;
    margin: 0;
    column-gap: 10px;
    border: 2px solid rgb(97, 128, 239);
    background-color: paleturquoise;
    /* padding: 1rem 1rem 4rem; */
    filter: drop-shadow(16px 16px 10px rgb(89, 111, 236));
    border-radius: 7px;
    list-style-type: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
    max-width: 350px;
    /* resize: both;
    overflow: auto; */
}

/* .board {
    resize: horizontal;
    overflow: auto;
} */

.button-container{
    padding: 1px;
    align-content: center;
}

.board {
    /* position: relative; */
    width: 200px;
    height: 200px;
    /* resize: horizontal;
    overflow: auto; */
}

.edit-fields {
    max-width: 350px;
}

/* .board-title {
    justify-content: left;
    text-align: left;
} */

.board-edit-button {
    background: url('/public/edit.png');
    background-size: 1rem 1rem 4rem;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    height: 20px;
    width: 20px;
    padding: 4%;
    margin: 0;
}

.board-delete-button {
    background: url('/public/trash.png');
    background-size: 1rem 1rem 4rem;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    height: 20px;
    width: 20px;
    padding: 4%;
    margin: 0;
}

/* .show-cards-button-container {
    position: absolute;
} */

.show-cards-button {
    background: url('/public/folder-open.png');
    background-size: 1rem 1rem 4rem;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    height: 20px;
    width: 25px;
    padding: 4%;
    margin: 0;
    cursor: pointer;
}

.edit-board-button {
    background: url('/public/approvelarge.png');
    background-size: 1rem 1rem 4rem;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    height: 20px;
    width: 20px;
    padding: 4%;
    margin: 0;
}

.add-card-button {
    background: url('/public/square-plus.png');
    background-size: 1rem 1rem 4rem;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    height: 30px;
    width: 30px;
    padding: 4%;
    margin: 2%;
}

/* .sort-option-button {
    cursor: pointer;
    -webkit-appearance: none;
} */

.card-sort-button {
    background: url('/public/circle-ellipsis-vertical.png');
    background-size: 1rem 1rem 4rem;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 0;
    border: 0;
    height: 30px;
    width: 30px;
    padding: 4%;
    margin: 2%;
    -moz-appearance: none;
    -webkit-appearance: none;
}

select {
    -webkit-appearance: none;
    width: 50px;
}

/* .board.show-cards-button-container.show-cards-button {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
} */