.card-container {
    min-width: 250px;
    min-height: 250px;
    margin: 20px;
    border: 5px dotted rgb(244, 128, 166);
    border-radius: 12px;
    padding: 7px;
    box-shadow: 12px 12px 2px rgb(243, 75, 131);
    cursor: pointer;
    background-color: lightpink;
}

.edit-card-button {
    background-size: 1rem 1rem 4rem;
    width: max-content;
    background: url('/public/approvelarge.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0px;
    padding: 4%;
    border: 0;
}

.edit-button {
    background-size: 1rem 1rem 4rem;
    width: max-content;
    background: url('/public/edit.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0px;
    padding: 4%;
    border: 0;
}

.delete-button {
    background-size: 1rem 1rem 4rem;
    width: max-content;
    background: url('/public/trash.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0px;
    padding: 4%;
    border: 0;
}

.like-count {
    background-size: 1rem 1rem 4rem;
    width: max-content;
    background: url('/public/heartfilled.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0px;
    padding: 4%;
    border: 0;
}

.unlike-count {
    background-size: 1rem 1rem 4rem;
    width: max-content;
    background: url('/public/heart-crack.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0px;
    padding: 4%;
    border: 0;
}