.submit-card-button {
    width: 16px;
    height: 16px;
    background: center no-repeat url('/public/badge-check.png');
    border-radius: 50%;
    box-shadow: 0 0 0 3px darkcyan;
    background-color: midnightblue;
    margin: 0px;
    padding: 4%;
    border: 0;
}