@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Shadows+Into+Light+Two&display=swap');

html {
  background: linear-gradient(217deg, rgba(107, 177, 252, .8), rgba(244, 219, 78, 0) 70.71%),
              linear-gradient(336deg, rgba(216, 112, 147, .8), rgba(216, 112, 147, 0) 70.71%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.mood-board {
  font-size: 80px;
  margin-bottom: 0;
}

nav.hide-display-nav-buttons, .add-new-board-button-hide-display-nav-buttons, .board-sort-button-hide-display-nav-buttons {
  visibility: hidden;
  z-index: -1;
}

nav.display-nav-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 4rem;
}

.add-new-board-button-display-nav-buttons {
  background-size: 1rem 1rem 4rem;
  width: max-content;
  background: url('/public/square-plus.png');
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  margin: 0px;
  padding: 4%;
  border: 0;
}

.board-sort-button-display-nav-buttons {
  background: url('/public/circle-ellipsis-vertical.png');
  background-size: 1rem 1rem 4rem;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  font-size: 0;
  border: 0;
  height: 30px;
  width: 30px;
  padding: 4%;
  margin: 2%;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.mood-board, .board-title, .card-title {
  font-family: 'Shadows Into Light Two', cursive;
}

.board-description, .card-description {
  font-family: 'Dosis', sans-serif;
  font-size: 1rem;
}

.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  z-index: 1;
  top: 0;
  left: 0;
  cursor: url(SKATES.png), auto;
}

.App-link {
  color: #61dafb;
}

main {
  padding-bottom: 2.5rem;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5rem;
}